//
//  Release.xcconfig
//  ShortCapTest
//
//  Created by 최준영 on 5/17/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = http:/$()/15.165.250.47:8080
ShortCap_App_Name = ShortCap
PRODUCT_BUNDLE_IDENTIFIER = choijunyeong.ShortCap.debug
HOST_APP_BUNDLE_IDENTIFIER = choijunyeong.ShortCap.debug
APP_GROUP = group.choijunyeong.ShortCap
